<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--<meta charset="UTF-8">-->
    <th:block th:include="fragments/header :: headerinc"></th:block>
    <title>Add Review</title>
</head>
<body>

<div th:include="fragments/header :: header"></div>
<div class="content">
    <div class="pageTitle">
        <h3 th:each="film: ${film}" th:text="'Add Review for: '+${film.title}"></h3>
    </div>
    <div class="pageBody">
        <form action="#" th:action="@{/review/addReview}" th:object="${review}" method="post">
            <input type="hidden" th:field="*{id}"/>
            <input type="hidden" th:field="*{film.id}"/>
            <p>Review: </p><input type="text" th:field="*{reviewText}"/>
            <p></p><input type="submit" value="Add Review"/>
        </form>
        <div th:if="${message!=null}">
            <p/>
            <span th:text="${message}"/>
        </div>
    </div>
</div>
</body>
</html>
