<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--<meta charset="UTF-8">-->
    <title>Add Review</title>
</head>
<body>

<div th:include="fragments/header :: header"></div>

<h3>Add Review</h3>

<form action="#" th:action="@{/review/addReview}" th:object="${review}" method="post">
    <p>Review: </p><input type="text" th:field="*{reviewText}"/>
    <p></p><input type="submit" value="Add Review"/>
</form>

<div th:if="${message!=null}">
    <p/>
    <span th:text="${message}"/>
</div>

</body>
</html>
