<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--<meta charset="UTF-8">-->
    <th:block th:include="fragments/header :: headerinc"></th:block>
    <title>Search Users</title>
</head>
<body>

<div th:include="fragments/header :: header"></div>
<div class="content">
    <div class="pageTitle">
        <h3>Search Users</h3>
    </div>
    <div class="pageBody">
        <form th:action="@{/user/search}" th:object="${searchText}" method="post">
            <p>Forename: <input type="text" th:field="*{forename}"/></p>
            <p>Surname: <input type="text" th:field="${searchText.surname}"/></p>
            <p><input type="submit" value="Search"/></p>
        </form>
        <div>
            <ol>
                <li th:each="user: ${users}">
                    <span th:text="${user.forename}+' '+${user.surname}"></span>
                </li>
            </ol>
        </div>
    </div>
</div>
</body>
</html>