<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--<meta charset="UTF-8">-->
    <th:block th:include="fragments/header :: headerinc"></th:block>
    <title>User Update</title>
</head>
<body>

<div th:include="fragments/header :: header"></div>

<h3>User Update</h3>

<form action="#" th:action="@{/user/update}" th:object="${user}" method="post">
    <input type="hidden" th:field="*{id}" />
    <p>Forename: </p><input type="text" th:field="*{forename}"/>
    <p>Surname: </p><input type="text" th:field="*{surname}"/>
    <p>Password: </p><input type="text" th:field="*{password}"/>
    <p></p><input type="submit" value="Update"/>
</form>

</body>
</html>
