<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="headerinc">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</div>

<div th:fragment="header">
    <div>
        <a th:href="@{/}">home</a>
        <ul>
            <li><a th:href="@{/user/register}">Register</a></li>
            <li><a th:href="@{/user/search}">Search Users</a></li>
            <li><a th:href="@{/film}">Films</a></li>
            <li><a th:href="@{/film/searchFilm}">Search Films</a></li>
            <li><a th:href="@{/film/addFilm}">Add Film</a></li>
        </ul>
    </div>
</div>

</html>