<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--<meta charset="UTF-8">-->
    <title>Demo Project</title>
</head>
<body>

<table>
    <tr>
        <th>Forename</th>
        <th>Surname</th>
        <th>Password</th>
        <th>Action</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.forename}">Fin</td>
        <td th:text="${user.surname}">Pickford</td>
        <td th:text="${user.password}">password</td>
        <td><a href="#" th:href="@{/user/delete/}+${user.id}">delete</a></td>
    </tr>
</table>



</body>
</html>