<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--<meta charset="UTF-8">-->
    <th:block th:include="fragments/header :: headerinc"></th:block>
    <title>Demo Project</title>
</head>
<body>

<div th:include="fragments/header :: header"></div>
<div class="content">
    <div class="pageBody">
        <table class="table">
            <tr>
                <th>Forename</th>
                <th>Surname</th>
                <th>Password</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
            <tr th:each="user : ${users}">
                <td th:text="${user.forename}">Fin</td>
                <td th:text="${user.surname}">Pickford</td>
                <td th:text="${user.password}">password</td>
                <td><a href="#" th:href="@{/user/update/}+${user.id}">update</a></td>
                <td><a href="#" th:href="@{/user/delete/}+${user.id}">delete</a></td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>