<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--<meta charset="UTF-8">-->
    <title>Film Index</title>
</head>
<body>

<table>
    <tr>
        <td><a href="#" th:href="@{/film/addFilm}">add film</a></td>
        <td><a href="#" th:href="@{/film/searchFilm}">search film</a></td>
    </tr>
</table>

<table>
    <tr>
        <th>Title</th>
        <th>Year</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    <tr th:each="film : ${films}">
        <td th:text="${film.title}">Film</td>
        <td th:text="${film.year}">2017</td>
        <td><a href="#" th:href="@{/film/updateFilm/}+${film.id}">update</a></td>
        <td><a href="#" th:href="@{/film/deleteFilm/}+${film.id}">delete</a></td>
    </tr>
</table>


</body>
</html>