<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--<meta charset="UTF-8">-->
    <th:block th:include="fragments/header :: headerinc"></th:block>
    <title>Location</title>
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>
</head>
<body>
<div th:include="fragments/header :: header"></div>
<div class="content">
    <div class="pageTitle">
        <h3>Location</h3>
    </div>
    <div class="pageBody">
        <div id="map"></div>
    </div>
</div>
<script>
    function initMap() {
        var uluru = {lat: 53.641150, lng: -1.778558};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 4,
            center: uluru
        });
        var marker = new google.maps.Marker({
            position: uluru,
            map: map
        });
    }
</script>
<script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMFg0U3T3wsIkKfuMKgs4s_n2yAWUiWDY&amp;callback=initMap">
</script>
</body>
</html>