<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--<meta charset="UTF-8">-->
    <title>User Login</title>
</head>
<body>

<h3>User Login</h3>

<form action="#" th:action="@{/user/login}" th:object="${user}" method="post">
    <p>Username: </p><input type="text" th:field="*{username}"/>
    <p>Password: </p><input type="password" th:field="*{password}"/>
    <p></p><input type="submit" value="Login"/>
</form>

<div th:if="${message!=null}">
    <p/>
    <span th:text="${message}"/>
</div>

</body>
</html>
