<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--<meta charset="UTF-8">-->
    <th:block th:include="fragments/header :: headerinc"></th:block>
    <title>Film Index</title>
</head>
<body>

<div th:include="fragments/header :: header"></div>
<div class="content">
    <div class="pageTitle">
        <h3>Film Index</h3>
    </div>
    <div class="pageBody">
        <table>
            <tr>
                <th>Film Title</th>
            </tr>
            <tr th:each="film : ${films}">
                <td>
                    <a href="#" th:href="@{/film/filmDetail/}+${film.id}" th:text="${film.title}"></a>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>